/* ArtistTable.css */
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700|IBM+Plex+Sans');

body {
    color: #E8E0D3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    padding: 0% 2%;
}

.label {
    display: inline-block;
}
.artistrow {
    margin-bottom: 18px;

}

.artisttable {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ECD078;
    margin: 10px 0; padding: 0;
    margin-left: 0px;
    margin-right: 5em;
    max-width: 200px;
}

@media only screen and (orientation: portrait) {
    hr {
        display: none;
        height: 11em;
        border-left: solid #ECD078;
        margin-left: 0;

    }
}


p {
    font-size: 18px;
    margin: 0px;
}

.container {
    display: inline-block;
}

.btn-link:border {
    color: none;
}

.btn-link {
    color: #E8E0D3;
}
