/* ArtistTable.css */
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700|IBM+Plex+Sans');

body {
    color: #E8E0D3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    padding: 0% 2%;
}


.artistrow {
    margin-bottom: 18px;

}

.artisttable {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

.container {
    display: inline-block;
}
@media only screen and (orientation: portrait) {
    .container {
        padding-left: 20px;
        border-left: solid #ECD078;
        margin-bottom: 5%;
    }
    .label {
        width: 3em;
        margin-left: auto;
        display: inline-block;
        transform: rotate(-90);
        -webkit-transform: rotate(-90deg);
    }
}

@media only screen and (orientation: landscape) {
    .label {
        padding-bottom: 20px;
        border-bottom: solid #ECD078;
        width: 50%;
        max-width: 300px;
    }
    .container {
        padding-top: 20px;
    }
}

p {
    font-size: 18px;
    margin: 0px;
}


.btn-link:border {
    color: none;
}

.btn-link {
    color: #E8E0D3;
}
